*{
    padding: 0.2vw;
    margin: 0.2vw;
    font-family: 'Gluten', cursive;
    text-align: center;
  }

.NavBar {
    list-style-type: none;
    margin: 0.5vw;
    margin-top: 0.5vw;
    padding: 0.5vw;
    background-color: #eaa8c7;
    font-size: 1.7vw;
    justify-content: center;
    display: flex;
    color: white;
    overflow: hidden;
    font-family: 'Gluten', cursive;
    width: 90vw;
    float: inline-start;
    border-radius: 3vw;
    
  }

  @media (max-width: 1220px) {
    .NavBar {
      font-size: 2.5vw;
    }
  } 

  nav ul li {
    list-style: none;
    float: left;
    margin: 0.3vw;
    padding: 0.4vw;  
  }

  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .5s;
  }

  li a:hover{
   background-color: #fac1dc;
  }

  .subtitulo1 {
    text-align: center;
    font-family: 'Gluten', cursive;
    padding: 1vw;
    font-size: 2.5vw;
  }
  
  .subtitulo2 {
    text-align: center;
    font-family: 'Gluten', cursive;
    padding: 2vw;
    font-size: 1.7vw;
  }


  @media (max-width: 1220px) {
    .subtitulo1 {
      font-size: 3vw;
    }
  
    .subtitulo2{
      font-size: 2.5vw;
    }
  } 


  .volverInicio{
    border: none;
    color: black;
    font-family: 'Gluten', cursive;
    background-color: #f5d0c4;
    box-shadow: 0 8vw 16 0 rgba(0,0,0,0.1);
    padding: 1vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 1vw;
    margin-left: 5vw;
    cursor: pointer;
    border-radius: 1vw;
    transition-duration: 0.5s;
    height: 4vw;
  }
  
  .volverInicio:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #edab97;
  }

  @media (max-width: 1220px) {
    .volverInicio {
      width: 30%;
      height: 40%;
      font-size: 3.5vw;
    }
  } 

  .btnReservar {
    width: 10vw; 
    height: 3vw;
    background-color: #FCB0EA;
    color: black;
    border: none;
    border-radius: 2px;
    font-size: 1.3vw;
    cursor: pointer; 
  }

  @media (max-width: 1220px) {
    .btnReservar {
      width: 30%;
      height: 40%;
      font-size: 3.5vw;
    }
  } 

  .btnFinalizar{
    width: 10vw; 
    height: 4vw;
    background-color: #ff67db;
    color: black;
    border: none;
    border-radius: 2px;
    font-size: 1.3vw;
    cursor: pointer; 
  }

  .btnFinalizar:hover{
    background-color: #f1d6ea;
  }

  @media (max-width: 1220px) {
    .btnFinalizar {
      width: 30%;
      height: 40%;
      font-size: 4vw;
    }
  } 

  .btnBorrar{
    width: 60%; 
    height: 70%;
    background-color: #b9b3b7;
    color: white;
    border: none;
    border-radius: 10vw;
    cursor: pointer;
  }

  .btnBorrar:hover {
    background-color: #f1d6ea;
  }
  
  @media (max-width: 1220px) {
    .btnBorrar {
      height: 90%;
      font-size: 2vw;
    }
  }

  .btnVaciarCarrito{
    width: 10vw; 
    height: 3vw;
    background-color: #535052;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 1.3vw;
    cursor: pointer;
  }

  @media (max-width: 1220px) {
    .btnVaciarCarrito {
      width: 30%;
      height: 40%;
      font-size: 3.5vw;
    }
  }

  .btnVaciarCarrito:hover {
    background-color: #FFD2F4;
  }

.card{
    font-family:'Gluten', cursive; 
    padding: 1vw;
    margin-top: 1vw;
    box-shadow: 0 0.5vw 0.5vw 0 rgba(0,0,0,0.3);
    border-radius: 1vw;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.fotoFrancia{
    height: 90%;
    width: 100%;
}
  
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  }


.col{
    flex-basis: 50%;
    flex-grow: 1;
  } 

.container{
    display: flex;
    justify-content: center;
  }
  
@media (max-width: 1220px) {
    .container {
      flex-direction: column;
    }
  } 

.carroDeConsultas {
    background-color: #FFB8EE;
    padding: 1vw;
    margin-top: 1vw;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 0.5vw 0.5vw 0 rgba(0,0,0,0.3);
  }

  .contenidoCarrito{
    font-size: 1.5vw;
  }


  @media (max-width: 1220px) {
    .carroDeConsultas {
      width: 80%;
      font-size: 4vw;
    }
  } 

.tachoCarrito{
  width: 70%;
  height: 80%;
}

@media (max-width: 1220px) {
  .tachoCarrito {
    width: 80%;
  }
}  

.thCarrito{
  font-size: 1.5vw;
}


@media (max-width: 1220px) {
  .thCarrito {
    font-size: 2.5vw;
  }
}