*{
  padding: 1px;
  margin: 1px;
}
.NavBar {
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 0;
    background-color: #f78765;
    font-size: 17px;
    justify-content: center;
    display: flex;
    color: white;
    overflow: hidden;
    font-family: 'Gluten', cursive;
    width: 1240px;
    float: inline-start;
    border-radius: 15px;
    
  }

  nav ul li {
    list-style: none;
    float: left;
    margin: 8px;
    padding: 10px;  
  }

  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .5s;
  }

  li a:hover{
   background-color: #f06f48;
  }
  
  .fotoFrancia{
    height: 200px;
    width: 300px;
}

  .fotoInglaterraCard{
    height: 200px;
    width: 300px;
}

.fotoIndex{
  width: 530px;
  margin-left: 360px;
  border-radius: 30px;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.3);
}

.fotoSuiza{
  height: 200px;
  width: 300px;
}

.fotoPortugal{
  height: 200px;
  width: 300px;
}

.fotoAlemania{
  height: 200px;
  width: 300px;
}

.fotoBelgica{
  height: 200px;
  width: 300px;
}

.logo{
  width: 100px;
  height: 100px;
  margin-left: 1100px;
  padding-top: 10px;
}

.subtitulo1 {
  text-align: center;
  font-family: 'Gluten', cursive;
  padding: 15px;
  font-size: 30px;
}

.contenedorLogo{
  width: 30px;
  height: 30px;
}

.subtitulo2 {
  text-align: center;
  font-family: 'Gluten', cursive;
  padding: 10px;
  font-size: 25px;
}

.footer{
  font-family: 'Gluten', cursive;
  margin-top: 20px;
  text-align:left;
  padding: 50px;
  background-color: #d1ebc7;
  color: black;
}


.card{
  font-family:'Gluten', cursive; 
  padding: 20px;
  margin-top: 20px;
  margin-left: 30px ;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.2s;
  border-radius: 6px;
}

.cardPortugal{
  font-family:'Gluten', cursive; 
  padding: 20px;
  margin-top: 10px;
  margin-left: 400px ;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.2s;
  width: 24%;
  border-radius: 6px;
}

.container{
  display: flex;
}

.cardPortugal:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}


.volverInicio{
  border: none;
  color: black;
  font-family: 'Gluten', cursive;
  background-color: #f5d0c4;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 50px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.5s;
  height: 40px;
}

.volverInicio:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #edab97;
}